
.countnum{
    text-align: center;
    font-size: 50px;
    
}
.box{
    margin: auto;
    max-width: 500px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: black 0px 1px 4px ;
    align-content: center;
    text-align: center;
}



li{
    list-style: none;
}

button{
    padding: 5px;
    border-radius: 5px;
    margin:10px;
    color: aliceblue;
    
}
button.addButton{
    
  background-color:maroon;
  
  
}
button.sub{
    background-color: red;
    position:relative;
    left: 230px;
}

.complete{
    color:rgb(12, 228, 12);
    
    
}
.box span{
    box-shadow: rgb(12, 228, 12);
}

.incomplete{
    color:red;
}

.logo{
    height: 70px;
}

.nav{
    position:relative;
    left: 90%;
}
.success{
    background-color:lightgreen;
}

.warning{
    background-color: lightcoral;
}

.hide{
    color:white;
    background-color:darkblue;
    
}
.footer{
    text-align: center;
}
.addtask{
    background-color:darkgreen;
}

.clear{
    padding: 5px;
    border-radius: 5px;
    color: azure;
    background-color:firebrick;
    cursor: pointer;
}

.boxes{
    margin: auto;
    display: flex;
    height: 50px;
    width: 400px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: black 0px 1px 4px ;
    align-content: center;
    text-align: center;
    align-items: center;   
    
}